:root{
    --green-primary: #00a884;
    --grey-primary: #f0f2f5;
    --grey-subtitle: #8696a0;
    --grey-icons: #54656f;
    --sent-message: #d9fdd3;
}

#app{
    background: #00a884;
    background: linear-gradient(180deg, rgba(0,168,132,1) 0%, rgba(0,168,132,1) 15%, rgba(228,226,222,1) 15%);
    width: 100vw;
    height: 100vh;
}

.debug{
    border: 1px solid black;
}
.container-all{
    margin: auto;
    width: 85vw;
    height: 95vh;
    background-color: white;
}
.container-left{
    width: 35%;
}
.container-right{
    width: 65%;
    border-left: 1px solid var(--grey-subtitle);
}
.top-nav{
    width: 100%;
    height: 60px;
    background-color: var(--grey-primary);
}

.img-avatar{
    width: 50px;
    height: 50px;
}

.icons-container img:hover{
    cursor: pointer;
}

.desktop-notifications{
    background-color: var(--green-primary);
    height: 80px;
    border: 1px solid white;
}

.chats-container{
    height: calc(100% - 194px);
}
.chats{
    height: 80px;
}
.chats:hover{
    background-color: var(--grey-primary);
    cursor: pointer;
}

.container-right i:hover{
    cursor: pointer;
}

.chat-container{
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
}

.dropdown{
    opacity: 0;
}
#chat-content:hover{
    cursor: pointer;
}
#chat-content:hover .dropdown{
    opacity: 100;
}
.send-bar{
    height: 60px;
    background-color: var(--grey-primary);
}

.send-bar img:hover{
    cursor: pointer;
}
/* UTILITIES */
.fs-smaller-08{
    font-size: 0.8rem;
}

.fs-smaller-06{
    font-size: 0.6rem;
}
.subtitle-color{
    color: var(--grey-subtitle);
}
.icons-color{
    color: var(--grey-icons);
}
.max-width-100{
    max-width: 100%;
}
.sent{
    background-color: var(--sent-message);
    border-radius: 5px;
    padding: 5px;
    max-width: 55%;
    align-self: flex-end;
}
.received{
    background-color: var(--grey-primary);
    border-radius: 5px;
    padding: 5px;
    max-width: 55%;
    align-self: flex-start;
}

.active{
    background-color: var(--grey-primary);
}
@media screen and (max-width: 992px){
    .container-all{
        width: 100vw;
        height: 100vh;
    }
}

