<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./js/style.css">
        <link id="favicon" rel="shortcut icon" type="image/png" href="/img/favicon-whatsapp.png" src="/img/favicon-whatsapp.png">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/emoji-picker.js" type="module"></script>
        <title>BoolzApp</title>
    </head>
    <body>
        <div id="app" class="d-flex align-items-center">
            <!-- container of the chats -->
            <div class="container-all d-flex">
                <!-- container left -->
                <div class="container-left h-100">
                    <!-- top nav with user info and menu -->
                    <div class="top-nav d-flex justify-content-between align-items-center">
                        <!-- container of profile img -->
                        <div class="img-container w-25">
                            <img src="./img/me.jpg" alt="my image" class="rounded-circle img-avatar ms-3">
                        </div>
                        <!-- container of icons -->
                        <div class="icons-container d-flex">
                            <img src="./img/community-icon.svg" alt="community" class="me-3 align-self-center d-none d-md-block">
                            <img src="./img/status-icon.svg" alt="status" class="me-3 d-none d-md-block">
                            <img src="./img/message-icon.svg" alt="message" class="me-3 d-none d-md-block">
                            <img src="./img/menu-icon.svg" alt="menu" class="me-3">
                        </div>
                    </div>
                    <!-- desktop notifications -->
                    <div class="desktop-notifications d-flex align-items-center p-3 d-none d-md-flex">
                        <div class="img-container">
                            <img src="./img/bell-ban.svg" alt="notifications">
                        </div>
                        <div class="ms-3">
                            <span class="fw-bold d-block">Ricevi notifiche di nuovi messaggi</span>
                            <a href="#" class="fs-smaller-08">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- search bar -->
                    <div class="input-group p-2">
                        <span class="input-group-text" id="search"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <!-- at every input call the function filteredContacts -->
                        <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-describedby="search" @input="filteredContacts()" v-model="search">
                    </div>
                    <!-- chat container -->
                    <div class="chats-container overflow-auto">
                        <!-- repeating the chats for every element of the filtered array -->
                        <div :class="index === indexChat ? 'active' : ''" class="chats d-flex align-items-center p-2 justify-content-between" v-for="(contact, index) in (filteredArray !== '' ? filteredArray : contacts)" @click="openChat(index)">
                            <div class="chats-left d-flex align-items-center">
                                <div class="img-container rounded-circle shadow-4-strong">
                                    <img :src="contact.avatar" :alt="contact.name" class="img-avatar rounded-circle me-3">
                                </div>
                                <div class="chats-text">
                                    <span class="fw-bold d-block">{{contact.name}}</span>
                                    <span class="fs-smaller-08 subtitle-color">{{contact.messages[contact.messages.length - 1].message}}</span>
                                </div>
                            </div>
                            <div class="chats-right fs-smaller-08 subtitle-color align-self-end">
                                <p>{{contact.messages[contact.messages.length - 1].date}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- container right -->
                <div class="container-right h-100">
                    <div class="top-nav d-flex justify-content-between align-items-center">
                        <!-- container of profile img, name and last online-->
                        <div class="img-container d-flex">
                            <img :src="contacts[indexChat].avatar" :alt="contacts[indexChat].name" class="rounded-circle img-avatar mx-3">
                            <div>
                                <span class="fw-bold d-block">{{contacts[indexChat].name}}</span>
                                <span class="fs-smaller-08 subtitle-color">Ultimo accesso oggi alle: 
                                    {{contacts[indexChat].messages[contacts[indexChat].messages.length - 1].date}}
                                </span>
                            </div>
                        </div>
                        <!-- container of icons -->
                        <div class="icons-container d-flex align-items-center"> 
                            <i class="fa-solid fa-magnifying-glass me-4 d-none d-md-block icons-color"></i>
                            <img src="./img/archived-icon.svg" alt="status" class="me-3 d-none d-md-block">
                            <img src="./img/menu-icon.svg" alt="menu" class="me-3">
                        </div>
                    </div>
                    <!-- chat container -->
                    <div class="chat-container overflow-y-auto p-5">
                        <!-- single chat -->
                        <div class="single-chat mb-3 d-flex flex-column" v-for="(chat, index) in contacts[indexChat].messages">
                            <div id="chat-content" class="d-flex" :class="chat.status === 'sent' ? 'sent' : 'received'" class="px-3"  @mouseleave="expand = false">
                                <p class="max-width-100 text-break">{{chat.message}}</p>
                                <!-- container dropdown menu and date -->
                                <div class="d-flex flex-column justify-content-between">
                                    <div class="dropdown align-self-end position-relative">
                                        <div @click="invertExpand">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <div class="dropdown-menu" :class="expand && 'show'">
                                            <a class="dropdown-item" href="#">Elimina messaggio</a>
                                            <a class="dropdown-item" href="#">Info messaggio</a>
                                        </div>
                                    </div>

                                    <div>
                                        <span class="subtitle-color fs-smaller-06 align-self-end">{{chat.date}}</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- container of send bar -->
                    <div class="send-bar d-flex justify-content-between align-items-center p-3">
                        <div>
                            <i class="fa-regular fa-face-smile icons-color me-3" @click="showEmoji = !showEmoji"></i>
                            <Picker @select="onSelectEmoji" :class="{'d-none': !showEmoji}">
                        </div>
                        
                        <i class="fa-solid fa-paperclip icons-color"></i>
                        <input type="text" class="form-control mx-3" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" v-model.trim="newMessageText">
                        <i class="fa-solid fa-microphone icons-color" :class="newMessageText != '' ? 'd-none' : ''"></i>
                        <i class="fa-solid fa-paper-plane icons-color" :class="newMessageText === '' ? 'd-none' : 'd-block'" @click="sendMessage"></i>
                    </div>
                </div>
            </div>
        </div>
        
        
        <script src="./js/script.js" type="module"></script>
    </body>
</html>